script(src = "/javascript/magnets.js")
#hold
  for word in words
    .magnet.no_select( style = "left: "+ word.position.left +"px; top: "+ word.position.top +"px", "data-word" = "#{word.word}")= word.word