!!!
head
  link(rel="stylesheet", href="/style/main.css")
  script(src= "/javascript/jquery.1.7.2.js")
  script(src= "/javascript/jquery.ui.js")
  script(src= "/javascript/_.1.3.3.js")
  script(src="/socket.io/socket.io.js")
  script
    var socket = io.connect('/');
  script(src = "/javascript/magnets.js")
body
  #header
    #sub_header
      .inner
        #logo.left MagBoard
        #add_word.right.no_select.btn + Add a Word
        #stats.right
          #people_online.right.stat_hold
            span.count= connections
            span.words online
          #word_count.right.stat_hold
            span.count= Object.keys(words).length
            span.words words on board
        .cl
  !=body
  #add_word_form.inactive(style="display: none")
    .inner
      input(type="text", placeholder="your word?").center
      br
      .btn.no_select.green.right.add + Add It
      .btn.no_select.red.right.close - Nevermind
      .cl